In [16]:
## 문자열 내장 함수
a = '  Hello world  '

In [17]:
## 문자열을 모두 대문자로 변경
print(a.upper())
## 문자열을 모두 소문자로 변경
print(a.lower())
## 단어의 첫글자만 대문자로 변경
print(a.title())
## 대문자를 소문자로, 소문자를 대문자로 변경
print(a.swapcase())

  HELLO WORLD
  hello world
  Hello World
  hELLO WORLD

In [19]:
## 문자열의 양쪽 공백을 지워라
print(a.strip())
## 문자열의 오른쪽 공백을 지워라
print(a.rstrip())
## 문자열의 왼쪽 공백을 지워라
print(a.lstrip())

Hello world
  Hello world
Hello world

In [26]:
price = "$100"
# price를 숫자의 형태로 변경

In [21]:
# 에러 발생
# $가 숫자로 변경이 되지 않기 때문
int(price)

ValueError: invalid literal for int() with base 10: '$100'

In [29]:
## price를 숫자로 바꾸기 위해서
## 왼쪽에 있는 $를 벗겨낸다
price = price.lstrip('$')
print(price, type(price))
price = int(price)
print(price, type(price))

100 <class 'str'>
100 <class 'int'>

In [35]:
test_str = "\n \t text \n \t"
print(test_str)

 	 text

In [36]:
test_str.strip()

'text'

In [37]:
## strip() 함수는 문자가 시작되기 전, 
# 문자가 끝나고 나서 데이터들을 제거
## 문자열 사이에 데이터들을 변경해주기 위한 함수
## replace(기존 문자열, 변경 문자열)
a.replace('Hello', 'Hi')

'  Hi world  '

In [38]:
## 공백을 제거할 이유로 replace()
a.replace(" ", "")

'Helloworld'

In [39]:
test_str2 = "Hello \n World"

In [40]:
print(test_str2)

Hello
 World

In [41]:
# 문자열 사이의 공백이 제거되지 않는다.
test_str2.strip()

'Hello \n World'

In [42]:
test_str2.replace('\n', '')

'Hello  World'

In [43]:
a = "test test2 test3"

In [44]:
list(a)

['t',
 'e',
 's',
 't',
 ' ',
 't',
 'e',
 's',
 't',
 '2',
 ' ',
 't',
 'e',
 's',
 't',
 '3']

In [45]:
# 문자열에서 특정 문자로 글자를 나눠서 리스트로 생성
# split()
a.split()

['test', 'test2', 'test3']

In [46]:
b = "20/30/40"

In [47]:
b.split('/')

['20', '30', '40']

In [50]:
# 문자열에서 비교 연산을 하는 함수
query = "select * from table"
query2 = """
select 
* 
from 
table
"""
print(query2)

select
*
from
table

In [56]:
# query, query2 가 select로 시작하는가?
print(query2.strip()[:6].lower() == 'select')
print(query.strip()[:6].lower()=='select')

True
True

In [63]:
print(query2.split()[0].lower()=='select')
print(query.split()[0].lower()== 'select')

True
True

In [65]:
query.lower().strip().startswith('select')

True

In [66]:
query2.lower().strip().startswith('select')

True

In [67]:
query.lower().strip().endswith('table')

True

In [68]:
query.lower().strip().endswith('table')

True