In [4]:
## 라이브러리 로드
import pandas as pd

In [10]:
## 1차원 데이터형인 Series를 생성
pd_series = pd.Series(
    [5000, 6000, 6500, 6500]
)

In [11]:
print(pd_series)

0    5000
1    6000
2    6500
3    6500
dtype: int64

In [12]:
pd_series2 = pd.Series(
    [5000, 6000, 6500, 6500],
    index = ['아메리카노','카페라떼','카페모카','카푸치노']
)

In [15]:
pd_series2

아메리카노    5000
카페라떼     6000
카페모카     6500
카푸치노     6500
dtype: int64

In [16]:
# Series 형태의 데이터(Class)는 내부에 적어도 2개의 변수
# values, index
print('Series의 values = ', pd_series2.values)
print('Series의 index = ', pd_series2.index)

Series의 values =  [5000 6000 6500 6500]
Series의 index =  Index(['아메리카노', '카페라떼', '카페모카', '카푸치노'], dtype='object')

In [18]:
pd_series.index = ['강희','민수','형준','민성']

In [19]:
pd_series

강희    5000
민수    6000
형준    6500
민성    6500
dtype: int64

In [69]:
values = [
    [1,2,6],
    [3,4,1],
    [6,8,3]
]
df = pd.DataFrame(values)

In [70]:
df

   0  1  2
0  1  2  6
1  3  4  1
2  6  8  3

In [71]:
## 데이터프레임에는 적어도 3개의 변수가 존재
print('데이터프레임의 values = ', df.values)
print('데이터프레임의 index = ', df.index)
print('데이터프레임의 columns = ', df.columns)

데이터프레임의 values =  [[1 2 6]
 [3 4 1]
 [6 8 3]]
데이터프레임의 index =  RangeIndex(start=0, stop=3, step=1)
데이터프레임의 columns =  RangeIndex(start=0, stop=3, step=1)

In [72]:
# 컬럼의 이름을 변경
df.columns = ['어머나','다시한번','말해봐']

In [77]:
# 특정 컬럼의 이름이나 특정 인덱스의 이름을 변경하려면
# rename()
# index 매개변수 : 딕셔너리형태 인자값을 사용 {'기준이되는 인덱스 : 변경할 인덱스 값}
# columns 매개변수 :  딕셔너리형태 인자값을 사용 { 기준이되는 컬럼 : 변경할 컬럼 값}
# inplace 매개변수 : bool형 인자값을 사용(FALSE(기본값): 데이터를 변경하지 않는다, True : 데이터를 변경하겠다.)
df.rename(
    columns = {'어머나':'A'},
    index = {0:8},
    inplace = True
)

In [79]:
df

   A  다시한번  C
8  1     2  6
1  3     4  1
4  6     8  3

In [80]:
df2 = df.copy()

In [82]:
df2.rename(
    columns = {
        'A' : 'X',
        'C' : 'Y'
    },
    inplace = True
)

In [83]:
df2

   X  다시한번  Y
8  1     2  6
1  3     4  1
4  6     8  3

### 외부의 파일을 로드
- csv, tsv
    - read_csv(파일의 경로)
- json
    - read_json(파일의 경로)
- excel(xls, xlsx)
    - read_excel(파일의 경로)
    - 추가로 라이브러리(readxl)를 설치해야되는 상황
- xml
    - read_xml(파일의 경로)
- html
    - read_html(html로 이루어진 문자형 데이터)
    - 웹 구조 중 table로 이루어진 태그를 DataFrame 변경
- 매개변수
    - encoding
        - 데이터 중 한글이 존재할 때 encoding error가 발생 할 수 있다.
        - 기본 encoding은 UTF-8
        - CP949, EUC-KR 형태로 변경하면 한글 데이터 로드

In [5]:
## 외부의 csv파일 로드
## 절대 경로 파일 로드
corona = pd.read_csv('/Users/kang_hiee/Documents/GitHub/ubion/python/csv/corona.csv')

In [6]:
# 상대 경로 파일 로드
# 상위로 이동(,,/)
corona2 = pd.read_csv('../csv/corona.csv')

In [1]:
print('hi')

hi