In [10]:
import dir_load as dl
import importlib

In [20]:
importlib.reload(dl)

In [21]:
df = dl.data_load('../csv/2017')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [28]:
# data_load2 함수를 호출
test2 = dl.data_load2("../csv")

customer_master 전역변수 저장 완료
corona 전역변수 저장 완료
example 전역변수 저장 완료
주민등록 전역변수 저장 완료
Koweps_Codebook 전역변수 저장 완료
drinks 전역변수 저장 완료
emp 전역변수 저장 완료
지원하지 않는 확장자 파일
class_master 전역변수 저장 완료
tran_1 전역변수 저장 완료
uriage 전역변수 저장 완료
USM 전역변수 저장 완료
tran_2 전역변수 저장 완료
2014 전역변수 저장 완료
use_log 전역변수 저장 완료
Sales Records 전역변수 저장 완료
csv_exam 전역변수 저장 완료
dept 전역변수 저장 완료
tran_d_2 전역변수 저장 완료
tran_d_1 전역변수 저장 완료
지원하지 않는 확장자 파일
item_master 전역변수 저장 완료
campaign_master 전역변수 저장 완료

In [31]:
test2['item_master']

  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000