In [3]:
from datetime import datetime
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import platform
from datetime import datetime
import warnings
import os
import glob
warnings.filterwarnings("ignore")
plt.rcParams["font.family"] = 'AppleGothic'  # 사용할 한글 폰트 설정

## 특정 경로에 있는 파일의 목록을 로드
1. 일반적으로 방법 -> 상대경로, 절대경로를 이용해서 파일을 하나씩 로드
2. 특정 경로에 있는 파일의 목록(list)을 기준으로 데이터 로드
    - os 라이브러리 이용하는 방법
    - glob 라이브러리 이용하는 방법
3. 파일의 목록을 기준으로 데이터를 for문을 이용해서 로드

In [49]:
## csv 폴더 안에 있는 2017 폴더에 있는 데이터들을 로드

# os 라이브러리를 이용하여 파일의 목록을 가져온다.
# 목록(list) + 파일의 목록을 보는 명령어(dir)
os.listdir('../csv/2017')

['201702_expense_list.csv',
 '201709_expense_list.csv',
 '201712_expense_list.csv',
 '201706_expense_list.csv',
 '201703_expense_list.csv',
 '201708_expense_list.csv',
 '201707_expense_list.csv',
 '201704_expense_list.csv',
 '201710_expense_list.csv',
 '201701_expense_list.csv',
 '201705_expense_list.csv',
 '201711_expense_list.csv']

In [50]:
file_path = '../csv/2017/'
file_list = os.listdir(file_path)

In [51]:
pd.read_csv(file_path + file_list[0]).head(1)

,nid,title,url,dept_nm_lvl_1,dept_nm_lvl_2,dept_nm_lvl_3,dept_nm_lvl_4,dept_nm_lvl_5,exec_yr,exec_month,expense_budget,expense_execution,category,dept_nm_full,exec_dt,exec_loc,exec_purpose,target_nm,payment_method,exec_amount
0,11527154,2017년 2월 시의회사무처 보건복지전문위원실 업무추진비 집행내역,http://opengov.seoul.go.kr/public/11527154,의회사무처,보건복지전문위원실,NaN,NaN,NaN,2017,2,NaN,NaN,NaN,시의회사무처 보건복지전문위원실,2017-02-23 12:54,（주）스타벅스커피코 (중구 소공로),제272회 임시회 현장방문 논의 간담회,수석전문위원 외 5명,카드,30000

In [52]:
result = pd.DataFrame()
result

Empty DataFrame
Columns: []
Index: []

In [53]:
for file in file_list:
    df = pd.read_csv(file_path + file)
    # result와 df를 유니언 결합하여 result 담아준다
    result = pd.concat([result, df], axis=0, ignore_index = True)

In [54]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70132 entries, 0 to 70131
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                70132 non-null  int64
 1   title              70132 non-null  object
 2   url                70132 non-null  object
 3   dept_nm_lvl_1      70132 non-null  object
 4   dept_nm_lvl_2      70074 non-null  object
 5   dept_nm_lvl_3      61262 non-null  object
 6   dept_nm_lvl_4      17939 non-null  object
 7   dept_nm_lvl_5      3474 non-null   object
 8   exec_yr            70132 non-null  int64
 9   exec_month         70132 non-null  int64
 10  expense_budget     3108 non-null   float64
 11  expense_execution  2805 non-null   float64
 12  category           1259 non-null   object
 13  dept_nm_full       70053 non-null  object
 14  exec_dt            70132 non-null  object
 15  exec_loc           69360 non-null  object
 16  exec_purpose       70110 non-null  object
 17  target_nm          69597 non-null  object
 18  payment_method     69929 non-null  object
 19  exec_amount        70132 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 10.7+ MB

In [59]:
file_path2 = '../csv/2019/'
file_list2 = os.listdir(file_path2)
result2 = pd.DataFrame() 
file_list2
for file in file_list2:
    df = pd.read_json(file_path2 + file)
    #result와 df를 유니언 결합하여 result 담아준다
    result2 = pd.concat([result2, df], axis=0, ignore_index = True)

In [60]:
result2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74207 entries, 0 to 74206
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                74207 non-null  int64
 1   title              74207 non-null  object
 2   url                74207 non-null  object
 3   dept_nm_lvl_1      74207 non-null  object
 4   dept_nm_lvl_2      74207 non-null  object
 5   dept_nm_lvl_3      74207 non-null  object
 6   dept_nm_lvl_4      74207 non-null  object
 7   dept_nm_lvl_5      74207 non-null  object
 8   exec_yr            74207 non-null  int64
 9   exec_month         74207 non-null  int64
 10  expense_budget     2075 non-null   float64
 11  expense_execution  1598 non-null   float64
 12  category           74028 non-null  object
 13  dept_nm_full       74207 non-null  object
 14  exec_dt            74207 non-null  object
 15  exec_loc           74207 non-null  object
 16  exec_purpose       74207 non-null  object
 17  target_nm          74207 non-null  object
 18  payment_method     74207 non-null  object
 19  exec_amount        74207 non-null  int64
dtypes: float64(2), int64(4), object(14)
memory usage: 11.3+ MB

In [72]:
file_path3 = '../csv/2021/'
file_list3 = os.listdir(file_path3)
result_csv = pd.DataFrame() 
result_json = pd.DataFrame() 
result_xml = pd.DataFrame()
result_xlsx = pd.DataFrame()

file_list2
for file in file_list3:
    if file.split('.')[-1] in ['xlsx','xls']:
        df_xlsx = pd.read_excel(file_path3 + file)
        result_xlsx = pd.concat([result_xlsx, df_xlsx], axis = 0, ignore_index = True)
    elif file.split('.')[-1] == 'xml':
        df_xml = pd.read_xml(file_path3 + file)
        result_xml = pd.concat([result_xml, df_xml], axis = 0, ignore_index = True)
    elif file.split('.')[-1] == 'json':
        df_json = pd.read_json(file_path3 + file)
        result_json = pd.concat([result_json, df_json], axis = 0, ignore_index = True)
    else:
        df_csv = pd.read_csv(file_path3 + file)
        result_csv= pd.concat([result_csv, df_csv], axis = 0, ignore_index = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83819 entries, 0 to 83818
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nid                83819 non-null  int64
 1   title              83819 non-null  object
 2   url                83819 non-null  object
 3   dept_nm_lvl_1      83819 non-null  object
 4   dept_nm_lvl_2      83819 non-null  object
 5   dept_nm_lvl_3      67930 non-null  object
 6   dept_nm_lvl_4      24831 non-null  object
 7   dept_nm_lvl_5      1473 non-null   object
 8   exec_yr            83819 non-null  int64
 9   exec_month         83819 non-null  int64
 10  expense_budget     60524 non-null  float64
 11  expense_execution  60524 non-null  float64
 12  category           980 non-null    object
 13  dept_nm_full       83819 non-null  object
 14  exec_dt            83819 non-null  object
 15  exec_loc           83185 non-null  object
 16  exec_purpose       83819 non-null  object
 17  target_nm          83467 non-null  object
 18  payment_method     83819 non-null  object
 19  exec_amount        83819 non-null  int64
 20  bimok              18427 non-null  object
dtypes: float64(2), int64(4), object(15)
memory usage: 13.4+ MB

In [80]:
file_path3 = '../csv/2021/'
file_list3 = os.listdir(file_path3)
result_csv = pd.DataFrame() 
result_json = pd.DataFrame() 
result_xml = pd.DataFrame()
result_xlsx = pd.DataFrame()

file_list2
for file in file_list3:
    if 'xlsx' in file:
        df_xlsx = pd.read_excel(file_path3 + file)
        result_xlsx = pd.concat([result_xlsx, df_xlsx], axis = 0, ignore_index = True)
    elif 'xml' in file:
        df_xml = pd.read_xml(file_path3 + file)
        result_xml = pd.concat([result_xml, df_xml], axis = 0, ignore_index = True)
    elif 'json' in file:
        df_json = pd.read_json(file_path3 + file)
        result_json = pd.concat([result_json, df_json], axis = 0, ignore_index = True)
    else:
        df_csv = pd.read_csv(file_path3 + file)
        result_csv= pd.concat([result_csv, df_csv], axis = 0, ignore_index = True)

In [84]:
file_name, file_end = os.path.splitext(file_list[0])

In [86]:
file_name

'201702_expense_list'

In [87]:
file_end

'.csv'

In [100]:
globals()['a'] = 10

In [101]:
print(a)

10

In [128]:
## 2021 폴더에 있는 파일들을 각각 다른 변수에 저장
file_path = "../csv/2021/"
file_list = os.listdir(file_path)

for file in file_list:

    # 사용할 변수의 이름
    name, end  = os.path.splitext(file)
    end = end[1:]
    if end == 'csv':
        df  = pd.read_csv(file_path + file)
    elif end == 'json':
        df = pd.read_json(file_path + file)
    elif end == 'xml':
        df = pd.read_xml(file_path + file)
    elif end in ['xlsx','xls']:
        df = pd.read_excel(file_path + file)
    else:
        continue
    globals()[f"{name}_{end}"] = df.copy()
# .csv에서 .을 제외하고 출력하기 위해
#print(end[1:])
#print(end.lstrip('.'))
#print(end.replace('.',''))

In [159]:
## 지정된 경로에 파일들을 하나의 데이터프레임으로 
# 결합하여 되돌려주는 함수 생성
# 매개변수? -> 경로, 확장자명

def data_load(_path, _end = 'csv'):
    file_list = os.listdir(_path)
    # 비어있는 데이터프레임 생성
    result = pd.DataFrame()
    _path = _path + '/'
    for file in file_list:
        if file.endswith(_end):
            if _end =='csv':
                df = pd.read_csv(_path + file)
            elif _end == 'xml':
                df = pd.read_xml(_path + file)
            elif _end == 'json':
                df = pd.read_json(_path + file)
            elif _end in ['xlsx','xls']:
                df = pd.read_excel(_path + file)
            else:
                return '지원하는 확장자가 아닙니다.'
            # df를 result에 유니언 결합
            result = pd.concat([result, df],
                             axis=0, ignore_index=True)
    return result

In [2]:
#data_load('../csv/2017')

In [9]:
## os 라이브러리 이용하여 파일을 목록
print(
    os.listdir('../csv/num_3')
)

## glob 라이브러리 이용하여 파일의 목록 
print(
    glob.glob('../csv/2021/*.json')
)

['customer_master.csv', 'class_master.csv', 'use_log.csv', 'campaign_master.csv']
['../csv/2021/202105_expense_list.json', '../csv/2021/202104_expense_list.json', '../csv/2021/202101_expense_list.json', '../csv/2021/202107_expense_list.json', '../csv/2021/202102_expense_list.json', '../csv/2021/202106_expense_list.json', '../csv/2021/202103_expense_list.json', '../csv/2021/202112_expense_list.json', '../csv/2021/202108_expense_list.json', '../csv/2021/202111_expense_list.json', '../csv/2021/202109_expense_list.json', '../csv/2021/202110_expense_list.json']

In [10]:
file_list = glob.glob('../csv/num_3/*.csv')
file_list

['../csv/num_3/customer_master.csv',
 '../csv/num_3/class_master.csv',
 '../csv/num_3/use_log.csv',
 '../csv/num_3/campaign_master.csv']

In [27]:
for file in file_list:
    #print(file)
    #df = pd.read_csv(file)
    #print(file.split('/')[-1])
    ## 경로와 파일을 나눠준다
    folder, name = os.path.split(file)
    #print(folder, name)
    head, tail = os.path.splitext(name)
    print(head)
    #print(head,' ', tail)
    globals()[f"{head}"] = pd.read_csv(file)
    ## 첫번째 반복 :  head -> campaign_master, tail -> .csv
    ##             f"{head}" -> "campaign_master", globals()['campaign_master]
    ##             campaign_master = pd.read_csv('../csv/num3/campaign_master.csv)
    ## 두번째 반복 : head -> class_master, tail -> .csv
    ##            f"{head}" -> "class_master", globals(['class_master])
    ##            class_master = pd.read_csv('../csv/num3/class_master)
#df

customer_master
class_master
use_log
campaign_master

In [28]:
class_master

  class class_name  price
0   C01       0_종일  10500
1   C02       1_주간   7500
2   C03       2_야간   6000

In [33]:
## 특정 경로에 있는 파일의 목록들을 각가 파일의 이름으로 전역변수를 생성하여 저장하는 함수 생성
## 매개변수 : 경로
def data_load2(_path):
    # 입력받은 경로를 기준으로 파일의 목록을 모두 로드한다.
    file_list = glob.glob(_path + "/*.*")
    # 반복 실행 file_list를 이용하여
    for file in file_list: 
        # 경로와 파일명을 나눠준다
        folder, name = os.path.split(file)
        # 파일명에서 이름과 확장자를 나눠준다
        head, tail = os.path.splitext(name)
        # tail의 형태는? ".확장자"
        if tail == '.csv':
            df = globals()[f"{head}"] = pd.read_csv(file)
        elif tail == '.json':
            df = globals()[f"{head}"] = pd.read_json(file)
        elif tail == '.xml':
            df = globals()[f"{head}"] = pd.read_xml(file)
        elif tail in ['.xlsx','.xls']:
            df = globals()[f"{head}"] = pd.read_exccel(file)
        else:
            print('지원하지 않는 확장자 파일')
            continue
        globals()[f"{head}"] = df.copy()
        print(f"{head} 전역변수 저장 완료")
    return "파일의 목록 저장완료"

In [35]:
data_load2('../csv/num_3')

customer_master 전역변수 저장 완료
class_master 전역변수 저장 완료
use_log 전역변수 저장 완료
campaign_master 전역변수 저장 완료

'파일의 목록 저장완료'

In [47]:
## 파일을 데이터프레임으로 로드하는 함수를 하나 생성
## 매개변수 1개 : 상대경로 | 절대경로, encoding = 'utf-8'
def read_df(_path, _encoding = 'utf-8' ):
    # 입력받은 데이터에서 확장자를 분리해준다.
    head, tail = os.path.splitext(_path)
    print(tail)
    if tail == '.csv':
        df = pd.read_csv(_path, encoding = _encoding)
    elif tail == '.json':
        df = pd.read_json(_path, encoding = _encoding)
    elif tail == '.xml':
        df = pd.read_xml(_path, encoding = _encoding)
    elif tail in ['.xlsx','.xls']:
        df = pd.read_excel(_path)
    else:
        df = pd.DataFrame()
    return df

In [48]:
read_df('../csv/2014.csv', 'cp949')

.csv

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329