In [7]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import pandas as pd
import time
from bs4 import BeautifulSoup as bs
import os
from dotenv import load_dotenv

In [8]:
load_dotenv()

True

In [9]:
# 웹 브라우저를 실행
driver = webdriver.Chrome()

In [10]:
## 인스타그램에 요청
driver.get('https://www.instagram.com')

In [11]:
# 인스타그램에 로그인
#id_element = driver.find_elements(By.CLASS_NAME, '_aa48')
id_element = driver.find_element(
    By.CSS_SELECTOR,
    'input[name="username"]')
# id_element에 아이디 값 (.env에 있는 id) 을 입력
id_element.send_keys(os.getenv('id'))
pass_element = driver.find_element(
    By.CSS_SELECTOR,
    'input[name="password"]'
)
# pass_element에 패스워드(.env에 있는 password)를 입력
pass_element.send_keys(os.getenv('password'))
#time.sleep(2)
# implicitly_wait() : html, css 정보가 모두 로드가 되면 기간에 무관하게 다
# 입력한 시간이 초과될 때 로드가 전부 안되어 있으면 에러가 발생
driver.implicitly_wait(10)
pass_element.send_keys(Keys.ENTER)

In [7]:
# # 로그인 정보 저장 나중에 하기
# later_element = driver.find_element(
#     By.XPATH,
#     '//*[@id="mount_0_0_cv"]/div/div/div[2]/div/div/div[1]/div[1]/div[2]/section/main/div/div/div/div/div')
# later_element.click()

In [8]:
# svg 태그 중 aria-label='검색'인 태그를 선택
# 돋보기 아이콘
driver.implicitly_wait(10)
search_element = driver.find_element(By.CSS_SELECTOR,
                                     'svg[aria-label="검색"]')
# search_element를 클릭
search_element.click()

In [9]:
# 
#검색창에 input 태그 중 aria-label='입력검색'인 태그를 선택
search_input = driver.find_element(By.CSS_SELECTOR,
                                     'input[aria-label="입력 검색"]')
# 입력창 클릭
search_input.click()

In [10]:
search_input.send_keys('구디맛집')

In [14]:
driver.implicitly_wait(10)
## 검색 리스트 전체를 검색
list_element = driver.find_elements(
    By.CSS_SELECTOR,
    '.x9f619.x78zum5.xdt5ytf.x1iyjqo2.x6ikm8r.x1odjw0f.xh8yej3.xocp1fn a'
)

In [15]:
print(len(list_element))
# 검색 리스트에서 첫번째를 클릭
list_element[2].click()

54

In [12]:
## 게시글 링크를 모두 찾는다.
imgs = driver.find_elements(
    By.CLASS_NAME,
    '_aagw'
)
# 게시글의 첫번째를 클릭
imgs[0].click()

In [13]:
# 게시물의 텍스트를 추출

# Class가 _a9zc인 태그의 수
#len(driver.find_elements(By.CLASS_NAME, '_a9zc'))
ids = driver.find_elements(By.CLASS_NAME, '_a9zc')
commets = driver.find_elements(By.CLASS_NAME,'_a9zs')

# 데이터프레임에 대입할 변수를 생성
data = {
    'ID':[],
    'Commet':[]
}

# for id in ids:
#     print(id.text)
# print('\n')
# for commet in commets:
#     print(commet.text.replace('\n',' '))

# for i in range(len(ids)):
#     print(ids[i].text)
#     print(commets[i].text.replace('\n', ' '))
#     print('\n')

for id, commet in zip(ids, commets):
    print(id.text)
    data['ID'].append(id.text)
    print(commet.text.replace('\n',' '))
    data['Commet'].append(commet.text.replace('\n',' '))
    print('\n')

delln.gc
만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구?  #먹스타그램


fgarks19
엄청 맛있어 보여요


hyeseon_v
음식이 맛있어보이네요 😋😋

In [14]:
data

{'ID': ['delln.gc', 'fgarks19', 'hyeseon_v'],
 'Commet': ['만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구?  #먹스타그램',
  '엄청 맛있어 보여요',
  '음식이 맛있어보이네요 😋😋']}

In [15]:
df = pd.DataFrame(data)
df

          ID                                         Commet
0   delln.gc  만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구?  #먹스타그램
1   fgarks19                                     엄청 맛있어 보여요
2  hyeseon_v                                 음식이 맛있어보이네요 😋😋

In [16]:
# 다음 게시글로 이동하는 버튼을 선택
next_element = driver.find_element(By.CSS_SELECTOR,
                                   '._aaqg ._abl-')
next_element.click()

In [17]:
## 게시글 링크를 모두 찾는다.
imgs = driver.find_elements(
    By.CLASS_NAME,
    '_aagw'
)
# 게시글의 첫번째를 클릭
imgs[0].click()



# data를 저장할 공간 생성
data = {
    'ID' : [],
    'Commet' : []
}

for i in range(3):
    # 다음 버튼이 존재하지 않으면? -> 에러 발생
    # try 구문을 이용하여 에러 발생시 print로 출력
    try:
        driver.implicitly_wait(10)
        # ids = driver.find_elements(By.CLASS_NAME, '_a9zc')
        # commets = driver.find_elements(By.CLASS_NAME, '_a9zs')
        ids = driver.find_elements(By.CSS_SELECTOR,
                                   'h2[class="_a9zc"]')
        ids.extend(
            driver.find_elements(By.CSS_SELECTOR,
                                 'h3[class="_a9zc"]')
        )
        commets = driver.find_elements(By.CSS_SELECTOR,
                                       'div[class="_a9zs"]')
        
        for id, commet in zip(ids, commets):
            data['ID'].append(id.text)
            data['Commet'].append(commet.text.replace('\n',' '))
        next_element = driver.find_element(By.CSS_SELECTOR,
                                           '._aaqg ._abl-' )
        next_element.click()
    except:
        print('다음 버튼이 존재하지 않거나 에러 발생')
# 게시물을 닫아준다.
close_element = driver.find_element(By.CSS_SELECTOR,'svg[aria-label="닫기"]')
close_element.click()
df = pd.DataFrame(data)

In [18]:
df

          ID                                         Commet
0   delln.gc  만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구?  #먹스타그램
1   fgarks19                                     엄청 맛있어 보여요
2  hyeseon_v                                 음식이 맛있어보이네요 😋😋
3    zbxl_07                                        맞팔해요!❤️

In [19]:
from konlpy.tag import Okt

In [20]:
# 문자에서 형태소를 분석하는 클래스
okt = Okt()

In [21]:
# 문자의 형태를 분석
nouns = okt.nouns(df.loc[0,'Commet'])

In [24]:
nouns

['만화', '프레', '이제', '한국', '수']

In [25]:
# nouns에서 글자 수가 1인 데이터를 제외
words = [n for n in nouns if len(n) > 1]

In [27]:
words

['만화', '프레', '이제', '한국']

In [29]:
# case1(map을 이용)
def return_words(x):
    nouns = okt.nouns(x)
    if nouns:
        words = [n for n in nouns if len(n) > 1]
    else:
        words = ""
    return words

df['words']=df['Commet'].map(return_words)

In [30]:
df

          ID                                         Commet             words
0   delln.gc  만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구?  #먹스타그램  [만화, 프레, 이제, 한국]
1   fgarks19                                     엄청 맛있어 보여요
2  hyeseon_v                                 음식이 맛있어보이네요 😋😋              [음식]
3    zbxl_07                                        맞팔해요!❤️              [맞팔]

In [71]:
# case2 (for문 이용)
col_data = []
for i in range(len(df)):
    nouns = okt.nouns(df.loc[i,'Commet'])
    if nouns:
        words = [n for n in nouns if len(n) > 1]
    else:
        words = ""
    #print(words)
    col_data.append(words)
df['words2'] = col_data

In [73]:
df.to_csv('test.csv')

In [74]:
df

,ID,Commet,words,words2
0,delln.gc,만화에서나 보던 포실포실 수프레를 이제 한국에서도 먹을 수 있다구? #먹스타그램,"[만화, 프레, 이제, 한국]","[만화, 프레, 이제, 한국]"
1,fgarks19,엄청 맛있어 보여요,,
2,hyeseon_v,음식이 맛있어보이네요 😋😋,[음식],[음식]
3,zbxl_07,맞팔해요!❤️,[맞팔],[맞팔]

In [34]:
imgs = driver.find_elements(By.CLASS_NAME, '_aagw')
imgs[0].click()

#driver.implicitly_wait(10)

for i in range(3):
    try :
        # 이미지를 저장
        img_element = driver.find_element(By.CSS_SELECTOR,
                                          '._aagu._aato ._aagv .x5yr21d.xu96u03.x10l6tqk.x13vifvy.x87ps6o.xh8yej3')
        # 해당하는 이미지 태그에서 src 속성의 값을 출력
        img_src = img_element.get_attribute('src')
        #print(img_src)
        image_save(
            img_src,
            "./",
            f"{i}.png"
        )
        
        # 다음버튼 클릭
        next_element = driver.find_element(By.CSS_SELECTOR, '._aaqg ._abl-')
        next_element.click()
    except:
        print('error')
        next_element = driver.find_element(By.CSS_SELECTOR, '._aaqg ._abl-')
        next_element.click()

파일 저장 완료
파일 저장 완료
파일 저장 완료

In [25]:
import requests

In [32]:
# 이미지를 저장하는 함수를 하나 생성
def image_save(img_path, save_path, file_name):
    html_data = requests.get(img_path)
    imageFile = open(
        os.path.join(
            save_path, 
            file_name
        ),
        'wb'
    )
    # 이미지 데이터의 크기
    chunk_size = 100000000
    for chunk in html_data.iter_content(chunk_size):
        imageFile.write(chunk)
        imageFile.close()
    print('파일 저장 완료')

In [7]:
# 외부의 모듈을 로드
import insta
import pandas as pd

In [8]:
insta.search_insta('중랑구 맛집')

다음 버튼이 존재하지 않거나 에러 발생
파일 저장 완료
다음 버튼이 존재하지 않거나 에러 발생

In [9]:
df1 = pd.read_csv('중랑구 맛집.csv')

In [18]:
df1

,ID,Commet,words2
0,gwangjin00,🌸조만간 보게될 부농분홍한 세상🌸 성동구~동대문구~중랑구~의정부 까지 이어지는 중랑...,"['조만간', '부농', '분홍', '세상', '성동구', '동대문구', '중랑구'..."
1,knp9972,아 마져 곧있음 장미축제잔아,"['장미', '축제']"
2,knp9972,카메라부대 출동,"['카메라', '부대', '출동']"
3,knp9972,팝콘은 딸기맛이지,"['팝콘', '딸기']"
4,_eun122o,@rj97.insta.gram 집앞인뎅...😅,['집앞']
5,s.h______l,@_dain_nabee 다똥델꼬 고고,"['다똥델꼬', '고고']"
6,eun_e94,@however_9406 군자교!,['군자']
7,_neul_.22,@0nerain.o2 구날 의정부에서 본 개 우리 동네부터 이어진게 마자써,"['의정부', '우리', '동네', '이어진', '마자']"
8,gj__lolq,@dh__lo3l,NaN
9,q.taks_,@u.nas_ ❤,NaN