In [4]:
import database as db

In [5]:
# database라는 모듈 안에 있는 MyDB Class 생성
db1 = db.MyDB()

In [6]:
select1 = """
    select * from tran_1 
"""
data = db1.sql_query(select1)

In [7]:
## 커스텀하게 만든 모듈을 어떤 파일에서는 사용이 가능하게 하려면
## python내의 환경변수를 확인
import sys

In [8]:
# 환경 변수를 출력
sys.path

['/Users/kang_hiee/Documents/GitHub/ubion/python/240320',
 '/Users/kang_hiee/opt/anaconda3/lib/python39.zip',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9/lib-dynload',
 '',
 '/Users/kang_hiee/.local/lib/python3.9/site-packages',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages/aeosa',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages/locket-0.2.1-py3.9.egg',
 '/Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages/IPython/extensions',
 '/Users/kang_hiee/.ipython']

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /Users/kang_hiee/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [9]:
import pandas as pd

In [12]:
# sql을 통해서 받아온 데이터를 표의 형태로 출력
df = pd.DataFrame(data)
df

     transaction_id   price         payment_date customer_id
0       T0000000116  210000  2019-02-01 02:47:23    IK452215
1       T0000000117  170000  2019-02-01 04:33:46    PL542865
2       T0000000118  120000  2019-02-01 04:36:50    GD372798
3       T0000000119  180000  2019-02-01 05:25:18    IK782104
4       T0000000120   50000  2019-02-01 06:22:39    IK624245
...             ...     ...                  ...         ...
4992    T0000005108  210000  2019-06-15 02:42:41    HD315748
4993    T0000005109  150000  2019-06-15 03:36:16    HI215420
4994    T0000005110   50000  2019-06-15 03:44:06    IK880102
4995    T0000005111  210000  2019-06-15 04:14:06    IK074758
4996    T0000005112   50000  2019-06-15 04:42:38    HD444151

[4997 rows x 4 columns]